@font-face {
    font-family: "Inter";
    src: url('./fonts/Inter_18pt-Medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url('./fonts/Inter_18pt-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


*,
*::after,
*::before{
    box-sizing: border-box;
}

* li{
    list-style-type: none; 
}

a[class] {
    text-decoration: none;
}

a{
    color: var(--color-black);
}

ul, ol {
    padding-left: 0;
}

:root{
    --color-black: #000000;
    --color-white: #FFFFFF;

    --font-family-inter: "Inter", sans-serif;

    --container-width: 1730px;
    --container-padding-x: 15px;
}

body{
    font-family: var(--font-family-inter);
    font-weight: 500;
    color: var(--color-black);
    background-color: var(--color-white);
}

.container{
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
    padding-block: 35px;
    border-bottom: 1px solid var(--color-black);
}

.header-menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin: 0;
    padding-inline: 15px;
}

.header-menu-link{
    font-size: 0.9375rem;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    line-height: 1.73;
}

.header-menu-link:hover{
    border-bottom: 2px solid var(--color-black);
    transition-duration: 0.2s;

}

.header-henric-link{
position: relative;
font-size: 1.1875rem;
line-height: 1.52;
text-transform: uppercase;
margin-left: 22px;
}

.header-henric-link::before{
    content: url(./icon/romb.svg);
    position: absolute;
    /* display: block;  */
    /* background: url('./icon/romb.svg') center/contain no-repeat;
    width: 25px;
    height: 28px;
    right: 73px; */
    right: calc(100% + 7px);
    top: -3px;
}

.header-info-link{
position: relative;
font-size: 1.1875rem;
line-height: 1.31;
text-transform: uppercase;
margin-right: 22px;
}

.header-info-link::after{
    content: url('./icon/circle.svg');
    position: absolute;
    left: calc(100% + 7px);
    top: -3px;
   
}

