@font-face {
    font-family: "Inter";
    src: url('./fonts/Inter_18pt-Medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url('./fonts/Inter_18pt-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


*,
*::after,
*::before{
    box-sizing: border-box;
}

* li{
    list-style-type: none; 
}

a[class] {
    text-decoration: none;
}

a{
    color: var(--color-black);
}

ul, ol {
    padding-left: 0;
}

:root{
    --color-black: #000000;
    --color-white: #FFFFFF;

    --font-family-inter: "Inter", sans-serif;

    --container-width: 1730px;
    --container-padding-x: 15px;
}

body{
    font-family: var(--font-family-inter);
    font-weight: 500;
    color: var(--color-black);
    background-color: var(--color-white);
}

.container{
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}


.header{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   padding-bottom: 35px;
   border-bottom: 1px solid var(--color-black);
}

.header-menu-list{
    display: flex;
    /* column-gap: 35px; */
    
}

.header-menu-item:not(:last-child){
    padding-right: 35px;
}

/* .header-menu-item  + .header-menu-item{
    padding-right: 35px;
} */

.header-menu-link{
    font-size: 15px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    line-height: 1.73;
    padding-bottom: 4px;
    transition-duration: 0.3s;
    text-align: center;
}

.header-menu-link:hover{
border-bottom: 2px solid var(--color-black);
}

.header-henric-link{
    position: relative;
    font-size: clamp(15px, 0.98vw, 19px);
    line-height: 1.52;
    text-transform: uppercase;
    padding-left: 44px;
    margin-left: -19px; 
}

.header-henric-link::before{
    content: "";
    position: absolute;
    background: url('./icon/romb.svg') center/contain no-repeat;
    left: 0;
    width: 27px;
    aspect-ratio: 1;
}

.header-info-link{
    position: relative;
    font-size: clamp(15px, 0.98vw, 19px);
    line-height: 1.31;
    text-transform: uppercase;
    padding-right: 44px;
    margin-right: -15px; 
}

.header-info-link::after{
    content: "";
    position: absolute;
    background: url('./icon/circle.svg') center/contain no-repeat;
    right: 0;
    transform: translateY(-10%);
    width: 27px;
    aspect-ratio: 1;
}


@media(max-width: 778px){
   .header-menu-item:not(:last-child){
    padding-right: 25px;
}
   }
